.emergency_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 2rem auto;
    color: var(--green-primary);
}
.emergency_div button{
    border: none;
    background-color: var(--green-primary);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.emergency_div p{
    font-size: 1.5rem;
    cursor: pointer;
}
.emergency{
    display: flex;
    align-items: center;
    height: 88vh;
    background-color: pink;
    background-image: url(../assets/checkup.png);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
}